@import "variables";

.main {
  lost-flex-container: row;

  min-width: 515.6px;
}

/* Components */
.capacity {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.item {
  lost-waffle: 1/8 8 5px;
}

.table {
  align-items: center;
  border-radius: 100%;
  border: 3px solid transparent;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  position: relative;
  width: 60px;

  &.free {
    background-color: $jungle-green;
  }

  &.busy {
    background-color: $selective-yellow;
  }

  &.overCapacity {
    background-color: rgba($black, 0.3);
    cursor: default;
  }

  &.full {
    background-color: $coral-red;
  }

  &.selected {
    border-color: rgba($thunder, 0.5);
  }
}

.tableNum {
  font-size: 10px;
  font-weight: 600;
  left: 0;
  margin-top: 4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
