@import "variables";

.main {
}

/* Components */
.error {
  color: $coral-red;
  margin: 10px 0 0;
}

.field {
}

.footer {
  margin-top: 20px;
}

.message {
  color: $white;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 10px 20px;
  text-align: center;

  &.error {
    background-color: $coral-red;
  }
}

.submit {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
