@import "sanitize.css/sanitize.css";

@import "react-select/dist/react-select.css";

@import "variables";
@import "overrides";

a {
  color: $black;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: rgba($black, 0.5);
  }
}

body, html {
  -webkit-tap-highlight-color: transparent;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $base-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

label {
  align-items: center;
  display: flex;

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
  }
}

picture {
  align-items: center;
  display: flex;
}

span[type="button"] {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  padding: 15px;
}
