@import "variables";

.main {
  lost-center: $container-width;

  padding-bottom: 60px;
}

/* Components */
.add {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.affiliation {
  color: $scorpion;
  font-size: 12px;
}
