@import "variables";

.main {
  lost-center: $container-width;

  padding-bottom: 60px;
}

/* Components */
.additionalPanel {
  margin-left: 15px;
}

.affiliation {
  color: $scorpion;
  font-size: 12px;
}

.sort {
  margin-left: 6px;
}

.status {
  &.checkedIn {
    color: $jungle-green;
  }
}

.wrapper {
  align-items: center;
  display: flex;
}
