@import 'variables';

$panel-padding : 35px;
$panel-width   : 350px;

.main {
  align-items: center;
  background-color: $wild-sand;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* Components */
.error {
  color: $coral-red;
  margin: 10px 0 0;
}

.footer {
  margin-top: 20px;
}

.header {
}

.logo {
  height: 50px;
  margin: 0 auto;

  img {
    height: inherit;
    margin: 0 auto;
    width: inherit;
  }
}

.message {
  color: $white;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 10px 20px;
  text-align: center;

  &.error {
    background-color: $coral-red;
  }
}

.panel {
  background-color: rgba($white, 0.975);
  border: $border;
  margin: 0 auto;
  padding: calc($panel-padding - 10px) $panel-padding;
  width: $panel-width;
}

.signUp {
  color: $coral-red;

  &:hover {
    color: rgba($coral-red, 0.7);
  }
}

.submit {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.title {
  font-size: 18px;
  margin: 0;
}
