@import "variables";

$height : 60px;

.main {
  align-items: center;
  border-left: 1px solid rgba($white, 0.3);
  border-right: 1px solid rgba($white, 0.3);
  box-sizing: border-box;
  color: $white;
  display: flex;
  height: $height;
  padding: 15px 25px;
}

/* Components */
.logout {
  color: rgba($white, 0.75);
  cursor: pointer;
  margin-left: 10px;
  line-height: 0.5;

  &:hover {
    color: $white;
  }

  i {
    font-size: 16px;
  }
}

.username {
  font-weight: 600;
}
